.idea
.pytest_cache
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Tensorboard logs
logs/

# PyTorch models
*.pytorch

# Python packages
pytorch3dunet.egg-info/
dist/
Ovules_Dataset/Archive_Train/Movie1_t00016_crop_gt.h5
Ovules_Dataset/Archive_Train/Movie1_t00018_crop_gt.h5
Ovules_Dataset/Archive_Train/Movie1_t00020_crop_gt.h5
Ovules_Dataset/Archive_Train/Movie1_t00035_crop_gt.h5
Ovules_Dataset/Archive_Train/Movie1_t00040_crop_gt.h5
Ovules_Dataset/Archive_Train/Movie1_t00045_crop_gt.h5
Ovules_Dataset/Archive_Train/Movie1_t00049_crop_gt.h5
Ovules_Dataset/Archive_Train/Movie2_T00000_crop_gt.h5
Ovules_Dataset/Archive_Train/Movie2_T00002_crop_gt.h5
Ovules_Dataset/Archive_Train/Movie2_T00006_crop_gt.h5
Ovules_Dataset/Archive_Train/Movie2_T00008_crop_gt.h5
Ovules_Dataset/Archive_Train/Movie2_T00010_crop_gt.h5
Ovules_Dataset/Archive_Train/Movie2_T00012_crop_gt.h5
Ovules_Dataset/Archive_Train/Movie2_T00014_crop_gt.h5
Ovules_Dataset/Archive_Train/Movie2_T00016_crop_gt.h5
Ovules_Dataset/Archive_Train/Movie3_T00002_crop_gt.h5
build/lib/pytorch3dunet/__init__.py
build/lib/pytorch3dunet/__version__.py
build/lib/pytorch3dunet/predict.py
build/lib/pytorch3dunet/train.py
build/lib/pytorch3dunet/augment/__init__.py
build/lib/pytorch3dunet/augment/transforms.py
build/lib/pytorch3dunet/datasets/__init__.py
build/lib/pytorch3dunet/datasets/dsb.py
build/lib/pytorch3dunet/datasets/hdf5.py
build/lib/pytorch3dunet/datasets/utils.py
build/lib/pytorch3dunet/unet3d/__init__.py
build/lib/pytorch3dunet/unet3d/buildingblocks.py
build/lib/pytorch3dunet/unet3d/config.py
build/lib/pytorch3dunet/unet3d/losses.py
build/lib/pytorch3dunet/unet3d/metrics.py
build/lib/pytorch3dunet/unet3d/model.py
build/lib/pytorch3dunet/unet3d/predictor.py
build/lib/pytorch3dunet/unet3d/seg_metrics.py
build/lib/pytorch3dunet/unet3d/trainer.py
build/lib/pytorch3dunet/unet3d/utils.py
create_hdf5/train_EL_PLR_4K_L.hdf5
create_hdf5/train_EL_PLR_4K_R.hdf5
Ovules_Dataset/Test/Movie1_t00006_crop_gt.h5
Ovules_Dataset/Test/Movie1_t00045_crop_gt.h5
Ovules_Dataset/Test/Movie2_T00010_crop_gt.h5
Ovules_Dataset/Test/Movie2_T00020_crop_gt.h5
Ovules_Dataset/Train/Movie1_t00003_crop_gt.h5
Ovules_Dataset/Train/Movie1_t00009_crop_gt.h5
Ovules_Dataset/Train/Movie1_t00010_crop_gt.h5
Ovules_Dataset/Train/Movie1_t00012_crop_gt.h5
Ovules_Dataset/Train/Movie1_t00014_crop_gt.h5
Ovules_Dataset/Val/Movie1_t00004_crop_gt.h5
Ovules_Dataset/Val/Movie1_t00030_crop_gt.h5
